*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body{
    height : 100vh;
    display : flex;
    justify-content : center;
    flex-direction : column;
    align-items : center;

    background : linear-gradient(#2515AD,#FF6F4A);

    font-family : monospace;

    color : black;

}


.location,
.temperature{
    height : 30vh;
    width : 50%;
    display : flex;
    justify-content : space-around;
    align-items : center;
}

.temperature{
    flex-direction: column;
}

.degree-section{
    display : flex;
    align-items : center;
    cursor : pointer;
}

.degree-section span{
    margin : 10%;
    font-size : 30px;
}

.degree{
    font-size : 44px;   
}
